---
title: COVID-19 Worldwide
datasets: ['dataset_top10', 'dataset_world_totals']
---

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">COVID-19 Worldwide</h1>
</div>

<div class="row">

  <script>
    var latest_numbers = {};
    for (var stat in covid19_dataset_world_totals['total']) {
      var data = covid19_dataset_world_totals['total'][stat];
      latest_numbers[stat] = data[data.length - 1];
    }
  </script>

  <%= partial(:top_totals) %>

</div>

<%= partial(:standard_graph_container, :locals => { :title => "Top 10 countries by confirmed cases", :graph_id => "graph_confirmed" }) %>
<%= partial(:standard_graph_container, :locals => { :title => "Top 10 countries by confirmed cases (cases per million)", :graph_id => "graph_permil" }) %>
<%= partial(:standard_graph_container, :locals => { :title => "Top 10 countries by confirmed cases (from point of over 100 cases)", :graph_id => "graph_realigned" }) %>

<%= partial(:standard_graph_container, :locals => { :title => "Changes in confirmed, recovered and deaths per day", :graph_id => "graph_world_totals" }) %>
<%= partial(:standard_graph_container, :locals => { :title => "Daily deaths from COVID-19 across the world", :graph_id => "graph_world_total_deaths" }) %>

<script>
  // pretend we have all of them for this part
  var covid19_dataset = covid19_dataset_top10;

  var lines_permil = [];
  var lines_confirmed = [];

  for (var country_iso in covid19_dataset_top10['subseries']) {
    lines_confirmed.push(country_series_scaled(covid19_dataset, covid19_dataset['subseries'][country_iso], country_iso, scale_none, '')['confirmed']);
    lines_permil.push(country_series_scaled(covid19_dataset, covid19_dataset['subseries'][country_iso], country_iso, scale_permil, ' (per million)')['confirmed']);
  }

  // now take the 'confirmed' graph and shift the x values.
  // 
  var day0_threshold = 100;
  var adjusted_traces = [];
  for (var i in lines_confirmed) {
    var confirmed_trace = lines_confirmed[i];
    var adjusted_trace = $.extend(true, {}, confirmed_trace);
    var day0_index;
    for (var j in adjusted_trace.y) {
      if (adjusted_trace.y[j] >= day0_threshold) {
        day0_index = j;
        break;
      }
    }
    for (var j in adjusted_trace.x) {
      adjusted_trace.x[j] = j - day0_index;
    }
    adjusted_traces.push(adjusted_trace);
  }

  Plotly.newPlot(
    'graph_permil',
    lines_permil,
    $.extend({}, default_layout),
    default_config
  );

  Plotly.newPlot(
    'graph_confirmed',
    lines_confirmed,
    $.extend({}, default_layout),
    $.extend({}, default_config)
  );

  Plotly.newPlot(
    'graph_realigned',
    adjusted_traces,
    $.extend({}, default_layout, {xaxis: {type: "linear", rangemode: "nonnegative"}}),
    $.extend({}, default_config)
  );

  // and world totals of confirmed/deaths/recovered
  var world_totals_traces = [];
  for (var stat in covid19_dataset_world_totals['total']) {
    if (stat != 'confirmed' && stat != 'recovered' && stat != 'deaths') continue;
    var trace = covid19_dataset_world_totals['total'][stat];
    world_totals_traces.push({
      x: covid19_dataset_world_totals['timeseries_dates'],
      y: cumulative_to_delta(trace),
      name: stat[0].toUpperCase() + stat.slice(1),
      type: 'bar'
    });
  }

  Plotly.newPlot(
    'graph_world_totals',
    world_totals_traces,
    $.extend({}, default_layout, {barmode: 'stack'}),
    $.extend({}, default_config)
  );

  // deaths by top 10 countries with confirmed cases, remainder as Other
  var mortality_traces = [];
  var remainder_trace = cumulative_to_delta(covid19_dataset_world_totals['total']['deaths']);

  for (var country_iso in covid19_dataset_top10['subseries']) {
    var trace = cumulative_to_delta(covid19_dataset_top10['subseries'][country_iso]['total']['deaths']);
    mortality_traces.push({
      x: covid19_dataset_world_totals['timeseries_dates'],
      y: trace,
      name: covid19_dataset_country_names[country_iso],
      type: 'bar'
    });

    for (var i in trace) {
      remainder_trace[i] -= trace[i];
    }
  }

  mortality_traces.push({
    x: covid19_dataset_world_totals['timeseries_dates'],
    y: remainder_trace,
    name: 'Other countries',
    type: 'bar'
  });

  var annotations = [
    {
      text: "One death every minute",
      x: 0.05,
      y: 24*60,
      xref: 'paper',
      yref: 'y',
      showarrow: false,
      yanchor: 'bottom',
      font: {
        color: '#aa0000'
      }
    }
  ];

  var shapes = [
    {
      x0: 0,
      x1: 1,
      type: 'line',
      y0: 24*60,
      y1: 24*60,
      xref: 'paper',
      yref: 'y',
      line: {
        color: '#aa0000',
        dash: 'dot',
        width: 2
      }
    }
  ];

  Plotly.newPlot(
    'graph_world_total_deaths',
    mortality_traces,
    $.extend({}, default_layout, {barmode: 'stack', annotations: annotations, shapes: shapes}),
    $.extend({}, default_config)
  );
</script>
