---
title: State
datasets: []
---

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">COVID-19 in <%= state_name %>, <%= country_name %></h1>
</div>

<div class="row">

  <script>
    var country_dataset = covid19_dataset_country_<%= country_iso.downcase %>;
    var state_dataset = country_dataset['subseries']['<%= state_code %>'];

    var latest_numbers = {};
    for (var stat in state_dataset['total']) {
      var data = state_dataset['total'][stat];
      latest_numbers[stat] = data[data.length - 1];
    }
  </script>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Confirmed Cases</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><script>document.write(latest_numbers['confirmed'].toLocaleString());</script></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-meh fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Deaths</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><script>document.write(latest_numbers['deaths'].toLocaleString());</script></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-sad-tear fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Recovered</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><script>document.write(latest_numbers['recovered'].toLocaleString());</script></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-smile fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<%= partial(:state_country_selector, locals: { country_iso: country_iso }) %>

<%= partial(:standard_graph_container, :locals => { :title => "Total cases of COVID-19 in #{state_name}, #{country_name}", :graph_id => "graph_overview" }) %>
<%= partial(:standard_graph_container, :locals => { :title => "New cases per day", :graph_id => "graph_new_cases" }) %>
<%= partial(:standard_graph_container, :locals => { :title => "Tests per day", :graph_id => "graph_tests" }) %>
<%= partial(:standard_graph_container, :locals => { :title => "Sources of infection", :graph_id => "graph_sources" }) %>
<%= partial(:standard_graph_container, :locals => { :title => "Age groups of confirmed cases", :graph_id => "graph_age_groups" }) %>

<script>
  var lines = [];

  for (var stat in state_dataset['total']) {
    if (stat != 'confirmed' && stat != 'recovered' && stat != 'deaths') continue;
    lines.push({
      x: country_dataset['timeseries_dates'],
      y: state_dataset['total'][stat],
      name: stat[0].toUpperCase() + stat.slice(1),
    });
  }

  Plotly.newPlot('graph_overview', lines, $.extend({}, default_layout), default_config);

  var new_cases = [];
  new_cases.push({
    x: country_dataset['timeseries_dates'],
    y: cumulative_to_delta(state_dataset['total']['confirmed']),
    type: 'bar',
  });

  Plotly.newPlot('graph_new_cases', limit_to_biggest_series(new_cases, 10), $.extend({}, default_layout, {barmode: 'stack'}), $.extend({}, default_config));

  if (state_dataset['total']['tested']) {
    var tested_data = [];
    tested_data.push({
      x: country_dataset['timeseries_dates'],
      y: cumulative_to_delta(state_dataset['total']['tested']),
      type: 'bar',
      name: 'Tests conducted',
    });
    tested_data.push({
      x: country_dataset['timeseries_dates'],
      y: cumulative_to_delta(state_dataset['total']['confirmed']),
      type: 'line',
      name: 'Confirmed cases',
    });

    Plotly.newPlot('graph_tests', limit_to_biggest_series(tested_data, 10), $.extend({}, default_layout, {barmode: 'stack'}), $.extend({}, default_config));
  } else {
    // no data, so remove the whole row
    $('#graph_tests_row').remove();
  }

  function optional_stacked_bar_over_time(graph_id, dataset_key) {
    if (state_dataset[dataset_key]) {
      var traces = [];
      var keys = state_dataset[dataset_key]['keys'];
      var subseries = state_dataset[dataset_key]['subseries'];

      for (var i in keys) {
        var series_points = subseries[keys[i]];
        traces.push({
          x: country_dataset['timeseries_dates'],
          y: series_points,
          type: 'bar',
          name: keys[i],
        });
      }

      Plotly.newPlot(graph_id, traces, $.extend({}, default_layout, {barmode: 'stack'}), $.extend({}, default_config));
    } else {
      $('#' + graph_id + '_row').remove();
    }
  }
  optional_stacked_bar_over_time('graph_sources', 'sources');
  optional_stacked_bar_over_time('graph_age_groups', 'age_groups');

</script>
